/* The Storyteller Custom CSS */

/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -24rem;
  width: 24rem;
  visibility: hidden;
  overflow-y: auto;
  font-size: .875rem;
  color: rgba(255,255,255,.6);
  background-color: #202020;
  z-index: 1;
}
@media (min-width: 30rem) {
  .sidebar {
    font-size: 1.50rem;
  }
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}
.sidebar-item {
  padding: 1rem;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

@media (min-width: 48rem) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  display: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: fixed;
  top:  1rem;
  left: 1rem;
  display: block;
  cursor: pointer;
  z-index: 2;
}

/* Slide effect */
.wrap,
.sidebar,
.sidebar-toggle {
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
  -webkit-perspective: 1000;
     -moz-perspective: 1000;
      -ms-perspective: 1000;
          perspective: 1000;
}
.sidebar {
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.wrap,
.sidebar-toggle {
  -webkit-transition: left .3s ease-in-out;
     -moz-transition: left .3s ease-in-out;
      -ms-transition: left .3s ease-in-out;
          transition: left .3s ease-in-out;
}
#sidebar-checkbox:checked + .sidebar {
  left: 0;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .wrap {
  left: 24rem;
}


/* AJ Customisations */

/* Sidebar */
.sidebar-logo {
  height: 90px;
  padding-top: 65px;
}
.sidebar-logo-text {
  float: left;
  padding-top: 25px;
  padding-left: 10px;
  font-size: 2rem;
}

/* Customize logo icon */
.fa-bolt:hover {
    color: #FF4000;
}

/* Scale post cover image to 100% */
.post-head{
  height: 100%;
  text-align: left;
}

/* Centers post title at botton */
.vertical {
  background: rgba(0, 0, 0, 0.20);
}
.post-vertical {
  vertical-align: bottom;
  background: rgba(0, 0, 0, 0.20);
}
.blog-description{
  font-size: 2.0rem;
}

/* Align post title and excerpt */
.post-template .blog-title {
  padding: 0.5rem 0;
}
.post-head-content{
  margin: 0px 0px 100px 60px;
}
.page-title {
  padding-top: 1rem;
}
.home-template .post {
    margin-top: 0;
}

/* Style profile image */
img.profile {
  width:80px;
  height:auto;
  border-radius: 50px;
}


