---
layout: default
disqus: false
archive: false
---

{% if page.cover %}
<header class="site-head post-head" style="background-image: url({{ page.cover }})">
    <div class="vertical post-vertical">
        <div class="post-head-content inner fade">
            <h1 class="blog-title">{{ page.title}}</h1>
            <h2 class="blog-description"> 
                {{ page.description }}
            </h2>
        </div>
    </div>
</header>
{% endif %}

<main class="content" role="main">
    <article class="post">
        <h1 class="post-title page-title">{{ page.title }}</h1>
        <section class="post-content">
            {{content}}
        </section>
        {% include post_footer.html %}
    </article>
</main>
