---
layout: default
disqus: false
archive: false
---

{% if page.cover %}
<header class="site-head post-head" style="background-image: url({{ page.cover }})">

    <div class="vertical post-vertical">
        <div class="post-head-content inner fade">

            <h1 class="blog-title">{{ page.title}}</h1>
            <h2 class="blog-description"> 
                {{ page.description }}
            </h2>
        </div>
    </div>

</header>
{% endif %}

<main class="content" role="main">

    <article class="post">

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
          <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <section class="author">
                  <article>
                    <!-- Author Name -->
                      <h4> {{ site.author.name }} </h4>
                      <!-- Author Bio -->
                      <p> {{ site.description }} </p>
                    </article>
                </section>                
            {% endif %}

            <section class="share">
                <h4>Follow</h4>

                <a href="https://plus.google.com/share?url={{ page.abs_url }}"><i class="fa fa-twitter fa-2x"></i></a>

                <a href="https://plus.google.com/share?url={{ page.abs_url }}"><i class="fa fa-github-alt fa-2x"></i></a>

            </section>
                      
        </footer>

    </article>

</main>
