---
layout: default
disqus: false
archive: false
---

{% if page.cover %}
<header class="site-head post-head" style="background-image: url({{ page.cover }})">
    <div class="vertical post-vertical">
        <div class="post-head-content inner fade">
            <h1 class="blog-title">{{ page.title}}</h1>
            <h2 class="blog-description"> 
                {{ page.description }}
            </h2>
        </div>
    </div>
</header>
{% endif %}

<main class="content" role="main">
    <article class="post">        
        <span class="post-meta">
          <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
          {% if page.categories %}
            on
            {% for category in page.categories %}
                {{category}}
            {% endfor %}
          {% endif %}
        </span>
        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
          <h5>Archive</h5>
        <ul>
          {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}  
        </ul>
        </section>
        {% endif %}

        {% include post_footer.html %}
    </article>
</main>